body{
   	font-family: 'Fira Sans', sans-serif; 
}

h2, h3{
    font-weight: 600;
}


/**********************
NAVIGATION
***********************/
#main-navigation.navbar {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0;
  border-bottom:0;
  
}

#main-navigation .container{
    border-bottom:0;
  width:70%;
  max-width:1000px;
  height: auto;
}

#main-navigation.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height:auto;
}



#main-navigation.navbar-default .navbar-collapse {
	height:130px;
   text-align: center;
}


#main-navigation.navbar-default {
	background-color: #ffffff;
}

#main-navigation .navbar-brand, 
#main-navigation.navbar-default .navbar-nav>li>a.navbar-brand {
	height: auto;
    padding: 0 0 0 30px;
 position:relative;
}

#main-navigation .navbar-brand img {
	max-height: 70px;
}


#brand-mobile {
	display: none;
}

#main-navigation .navbar-brand-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


/* Underline From Center */
.navbar-default .navbar-nav .item, #form .submit>button{
  	font-size: 22px;
    color: #4E342E;
  height:50px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
 overflow: hidden;
}


.navbar-default .navbar-nav .item:before, .navbar-default .navbar-nav .item:after, #form .submit>button:before, #form .submit>button:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  background: #FF1744;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar-default .navbar-nav .item:before, #form .submit>button:before{
  top:0;
}
.navbar-default .navbar-nav .item:after, #form .submit>button:after{
  bottom:0;
}


.navbar-default .navbar-nav .item:hover:before,.navbar-default .navbar-nav .item:hover:after, #form .submit>button:hover:before, #form .submit>button:hover:after, #form .submit>button:focus:before, #form .submit>button:focus:after{
  left: 0;
  right: 0;
}

.navbar-default .navbar-nav>li{
    padding-top:20px;
  height:90px;
  margin:0 10px;
    width:150px;
  text-align:center;
  position:relative;
}

#brand-desktop{
    padding-top: 10px;
}

.navTemp{
    height:20px;
}
#main-navigation.navbar-default .navbar-toggle {
	margin-top: 34px;
	margin-bottom: 34px;
	border: 0;
	border-radius: 0;
}

#main-navigation.navbar-default .navbar-toggle:focus, 
#main-navigation.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

#main-navigation.navbar-default .navbar-toggle .icon-bar {
	background: #FF1744;
	width: 22px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#main-navigation .navbar-toggle.collapsed .icon-bar {
	background: #FF1744;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/**********************
Home
***********************/

#home{
    margin:40px 0 50px 0;
    width:100%;
    height:auto;
   text-align: center;
}

#home img{
    width:500px;
    height:auto;
}

#home .title{
    margin-top:15%;
    margin-bottom: 30px;
}

/**********************
Introduction
***********************/
#introduction{
    margin-top:40px;

    text-align: center;
}

#introduction .question{
    margin-top:80px;
    margin-bottom:80px;
}

#introduction .image>img{
    width:100px;
    height:auto;
    margin-bottom: 30px;
}

#introduction .explanation .content{
   padding:0 60px 0 60px;
    margin-top:40px;
}

#introduction .arrow{
    margin-top:80px;
    text-align: center;
    margin-bottom: 80px;
}

#introduction .arrow a{
    font-size: 35px;
    color: #212121;
}



/**********************
ICONS
***********************/


#icon-container{
  text-align:center;
  margin:100px 15% 0px;
  padding:0 5%;
  width:70%;
  height: 130px;
    position: relative;
}

.icons{
    text-align:center;
    display:inline-block;
}

#icon-container .icons>img{
  width:14%;
  max-width:120px;
  display:inline-block;
  margin:0 2%;
}

#icon-container .icons .arrow{
  display:inline-block;
  height:50px;
  width:17%;
}


/**********************
FORM
***********************/

#form{
  text-align:center;
   margin:0 15% 100px;
   width:70%;
    min-height:600px;
  
}

#form header{
  font-size:30px;
  font-weight:bold;
  text-align:center;
  display:inline-block;
  width:100%;
  max-width:1000px;
}

#form .back{
    margin-top:5px;
    float:left;
    width:11%;
    font-size:25px;
    font-weight:bold;
    display:none;
    cursor:pointer;
}

#form .right{
    float:right;
    width:11%;
    display: none;
    opacity: 0;
}

#form .title{
    display: inline-block;
    width:auto;
  text-align:center;
}

.container-tr{
  font-size:30px;
  font-weight:bold;
  text-align:center;
}

#form .form-table{
  width:100%;
  max-width:1000px;
  border-radius:15px;
  display:inline-block;
  margin-top:25px;
  padding:25px 5%; 
  background:#E0E0E0;
  text-align:center;
    font-weight: bold;
    font-size:20px;
}

#form .form-table td{
    font-weight: bold;
    font-size:20px;
    color: #212121;
    padding: 10px 7px;
    text-align:right;
}

#form .form-table .hint-td{
    text-align: left;
    color:red;
    font-size: 15px;
    font-weight: 300;
}

#form .form-table .end-hint>p, .empty-hint>p{
    color:red;
    font-size: 15px;
    font-weight: 300;
}

#form table input,select{
  border-width:0 0 1px 0;
  outline:none;
  border-color:#212121;
  background:#E0E0E0;  
  width:100%;
}

#form .submit>button{
  border:0;
  margin-left:20px;
  margin-right:20px;
  width:200px;
  background:#E0E0E0;
}


#form .form-table td>img{
  width:30px;
  position:relative;
  height:30px;
  cursor:pointer;
  margin-bottom:2px;
}

#form .form-table td>span{
  color:#757575;
  cursor:pointer;
}

#form .form-table td>span:hover{
    color:#cc0000;
}

table{
  display:inline-block;
}

.tab-service{
  display:none;
}

#mcover, #load{
    position: fixed;
    top:30%;
    left:0;
    width:100%;
    height:40%;
    background:rgba(0, 0, 0, 0.7);
    display:none;
    z-index:4000;
    align-items: center;
}

.close-icon{
    color:white;
    margin-top: 2%;
    height:30px;
    font-size: 30px;
}

#load .close-icon{
    margin-top: 13%;
}

.close-icon>span{
    cursor:pointer;
}


.template{
    margin-top: 8%;
}

.template-name,.red-button,#userdefinedFile, #mcover select{
    margin:0 15px;
    height:auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    letter-spacing: .8px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
}

.template-name, #userdefinedFile,#mcover select{
    width:300px;
}

.red-button{
    background-color:#cc0000;
    border:0;
    color: white;
}

.red-button:hover{
    background-color: #e06666;
}

#template-name-form,#template-apply{
    display: none;
}

.userdefined-file {
    display: block;
    position: absolute;
    margin-top: 8%;
   left:35%;
    z-index: 2;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 0;
}

#load input[type="file"] {
    position: absolute;
    margin-top: 8%;
    left:35%;
    width: 500px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}


@media only screen and (max-width: 900px) {
    #form{
        text-align:center;
        margin:0 5% 100px;
        width:90%;
        min-height:600px;
    }

}

@media only screen and (max-width: 665px){
    #icon-container{
        display:none;
    }
}



@media only screen and (max-width: 767px) {

	/**********************
	NAVIGATION
	***********************/
    .navbar-default .navbar-nav ul{
        display: block;
    }
  
  .navbar-default .navbar-nav>li{
    margin-top:0;
  height:45px;
  text-align:center;
}

	#brand-mobile {
		display: block;
	}

	#main-navigation .navbar-brand-center {
		padding: 14px 45px 14px;
    height:80px;
	}

	#brand-desktop {
		display: none;
	}

	#main-navigation.navbar-default .navbar-nav>li>a {
		padding: 15px 0;
	}

    /**********************
    Form
    ***********************/

    #form{
        text-align:center;
        margin:0 2% 100px;
        width:96%;
        min-height:600px;
    }

    #form .form-table{
        border-radius:15px;
        padding:25px 5px;
    }


    #form .form-table td{
        font-weight: bold;
        font-size:10px;
        color: #212121;
        padding: 10px 7px;
        text-align:right;
    }

    #form .submit>button{
        font-size: 15px;
    }
  
}
